NODE_ENV=development
PORT=3001
LOG_LEVEL=info

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/remitano?schema=public

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=replace-me-with-a-long-random-string-at-least-32-chars
JWT_ACCESS_TTL=7d

CORS_ORIGIN=http://localhost:5173

THROTTLE_TTL=60
THROTTLE_LIMIT=120
